[2017-02-23 03:11] timmhayes opened #1 "Add live view of site content"
Provide live view of site content using Bluemix pipeline

[2017-02-24 03:32] timmhayes commented on #1
Completed a Bluemix DevOps delivery pipeline tied into this repo. Can see here: [http://steamography.mybluemix.net/](http://steamography.mybluemix.net/#/)

[2017-02-24 03:33] #1 closed, assigned to timmhayes

[2017-03-24 01:35] Mission5melissa opened #2 "Section Header title change"
for the section "Steam Activities You Can Try Yourself" STEAM should be in capital letters and add exclamation point at end:

STEAM Activities You Can Try Yourself!

[2017-03-24 01:42] timmhayes commented on #2
Updated - will update with next push

[2017-03-24 01:42] #2 closed, assigned to nobody

[2017-03-24 01:55] Mission5melissa commented on #2
Yeah!!! my issue thing worked??!!
On Mar 23, 2017, at 9:42 PM, Tim Hayes <notifications@github.com> wrote:

[2017-03-24 02:18] timmhayes commented on #2
Yes, thanks for being the second person to use this site. See how easy that was?

[2017-03-24 02:30] Mission5melissa commented on #2
I"m gonna put another one in!
On Mar 23, 2017, at 10:18 PM, Tim Hayes <notifications@github.com> wrote:

[2017-03-26 20:17] Mission5melissa opened #3 "insert pdf"
[Dissolve the Candy Coating_web.pdf](https://github.com/Mission5/steamography/files/871013/Dissolve.the.Candy.Coating_web.pdf)

insert pdf for Dissolve the Candy Coating activity in the STEAM Activities section

[2017-03-26 20:19] Mission5melissa opened #4 "Childhood leland replacement"
Please replace image in timeline for Childhood section with new kid Leland.  Image is on network.

[2017-03-26 20:20] Mission5melissa opened #5 "Fix Breadtruck icon placement in vertical timeline view"
currently the bread truck icon overlaps the dotted line when the site is in vertical (responsive) view.  Please fix. :)

[2017-03-26 20:22] Mission5melissa opened #6 "Fix circle color on Jake and Scout story title screen"
Currently the circle is red we would like it to be green and please use the same green as the color used in the Scientist timeline section background

[2017-03-26 20:23] Mission5melissa opened #7 "Modal window focus color for next button"
Please change the color of the next button in the modal window from red to green.  The same green as the J&S circle and Scientist background color in the timeline section

[2017-03-26 20:24] Mission5melissa opened #8 "add close button"
Please add close button all timeline sections when they are enlarged - so that the area will go back to original default state  (i.e. we see all four section images)

[2017-03-26 20:27] Mission5melissa opened #9 "fix book link to correct edition"
Please link image of book "chasing Space" in bottom section to this URL:

https://www.amazon.com/Chasing-Space-Readers-Leland-Melvin/dp/0062665928/ref=sr_1_1?ie=UTF8&qid=1490559996&sr=8-1&keywords=chasing+space+young+readers+edition

[2017-03-26 20:28] Mission5melissa opened #10 "Book link activation"
When the book is clicked to go to amazon lead have page open in new window - new tab in the b dowser.

Currently it just replaces the site and when you try to go back to Steamography using back button the site is whacko.

[2017-03-26 20:29] Mission5melissa opened #11 "font size increase"
please increase the font size by one bump for each of the section headers:

Explore More
STEAM Activities

[2017-03-26 20:30] Mission5melissa opened #12 "Activity titles font change"
Please change font for STEAM activity titles from current (Changa) to Open Sans bold:

Build a Rocket Racer, etc.  and future ones as well.

[2017-03-26 20:32] Mission5melissa opened #13 "Delete TERMS"
please delete the word "terms" at the bottom of the site with copyright stuff - also delete the preceding little vertical line.

[2017-03-26 21:00] timmhayes commented on #13
Removed

[2017-03-26 21:00] #13 closed, assigned to nobody

[2017-03-26 21:02] timmhayes commented on #12
The secondary font is Source Sans... is that what you mean?

[2017-03-26 21:06] Mission5melissa opened #14 "insert pdf"
[Build a Paper Rocket_web.pdf](https://github.com/Mission5/steamography/files/871034/Build.a.Paper.Rocket_web.pdf)

For Build a Paper Rocket activity in STEAM Activity

[2017-03-26 21:06] timmhayes commented on #10
Modified

[2017-03-26 21:06] #10 closed, assigned to nobody

[2017-03-26 21:08] timmhayes commented on #14
Added, but I renamed it as _BuildAPaperRocketWeb.pdf._ Please try to do the same - I want to stay away from using spaces.

[2017-03-26 21:08] #14 closed, assigned to nobody

[2017-03-26 21:11] timmhayes commented on #11
It has been modified for all H2 elements

[2017-03-26 21:11] #11 closed, assigned to nobody

[2017-03-26 21:12] timmhayes commented on #3
Added - please remove spaces in the future ones

[2017-03-26 21:12] #3 closed, assigned to nobody

[2017-03-26 21:15] timmhayes commented on #9
Changed

[2017-03-26 21:15] #9 closed, assigned to nobody

[2017-03-26 21:18] timmhayes commented on #7
Changed to rgb(84, 145, 65)

[2017-03-26 21:18] #7 closed, assigned to nobody

[2017-03-26 21:20] timmhayes commented on #6
Color changed to rgb(84, 145, 65)

[2017-03-26 21:20] #6 closed, assigned to nobody

[2017-03-26 21:23] timmhayes commented on #5
I don't see that unless I mouseover or focus on it. Can you upload a screen capture so I can see what you see? And are you looking on your Mac or phone? And what browser? Thanks

[2017-03-26 21:40] Mission5melissa opened #15 "insert pdf"
Please insert pdf for build Water Bottle Rocket Assembly.  Thank you :)

[Build a Water Bottle Rocket Assembly_web.pdf](https://github.com/Mission5/steamography/files/871045/Build.a.Water.Bottle.Rocket.Assembly_web.pdf)

[2017-03-26 21:48] Mission5melissa opened #16 "insert pdf"
please insert pdf for Build a Ro
[Build A Rocket Racer_web.pdf](https://github.com/Mission5/steamography/files/871054/Build.A.Rocket.Racer_web.pdf)
cket Racer STEAM activity

[2017-03-26 21:48] Mission5melissa commented on #12
Yes...fabo!

[2017-03-26 22:14] #5 closed, assigned to nobody

[2017-03-27 00:07] timmhayes commented on #4
Updated

[2017-03-27 00:07] #4 closed, assigned to nobody

[2017-03-27 00:08] timmhayes commented on #8
Added

[2017-03-27 00:08] #8 closed, assigned to nobody

[2017-03-27 00:09] timmhayes commented on #16
Added

[2017-03-27 00:09] #16 closed, assigned to nobody

[2017-03-27 00:11] timmhayes commented on #15
Added

[2017-03-27 00:11] #15 closed, assigned to nobody

[2017-03-27 00:16] timmhayes commented on #12
I changed all the H3s - which include titles on the youtube clips. Michelle liked it better.

[2017-03-27 00:16] #12 closed, assigned to nobody

[2017-03-27 03:37] Mission5melissa commented on #12
Thanks Tim.

I'll contact the GBS producer tomorrow about the copyright issue and try to figure out what's going on.

Melissa

[2017-03-28 00:19] Mission5melissa opened #17 "Add Activity"
BLIND ENGINEERING

Leland trained for months with his team to perfect his communication while using the robotic arm in space. Precise instructions and specific responses are needed to prevent mission failure and to keep everyone alive! This activity provides the opportunity for students to experience the difficulty of communication in engineering an object using Legos or building blocks.

http://p

[2017-03-28 00:20] Mission5melissa opened #18 "Add activity"
COSMIC COLORS
Leland took his photographs from space using a regular camera and a long lens - but many objects in space are not visible to the naked eye.  Explore how different types of telescopes help detect what's invisible to the human eye and reveal Cosmic Colors.

https://spaceplace.nasa.gov/cosmic-colors/en/#

[2017-03-28 00:21] Mission5melissa opened #19 "Add Activity"
PUBLIC OPINION POLL
As an astronaut, Leland has been interviewed many times about the value of space programs. He continues to be an advocate for exploration, space education and research.  This activity introduces students to the basics ideas behind creating a survey, gathering data, and analyzing answers to determine public opinion about the value of space exploration to our society.

http://pho

[2017-03-28 00:22] Mission5melissa opened #20 "Add Activity"
FROM THE HUBBLE

If your students enjoyed the Great Big Story videos about Leland's experiences in space, check out the The NASA Hubblecast.  The site presents short informative videos that introduce viewers to lessons in astronomy, telescopes, space facts and the beautiful imagery from the Hubble telescope.

http://www.spacetelescope.org/videos/archive/category/hubblecast/

[2017-03-28 00:24] Mission5melissa opened #21 "add disclaimer language"
Tim - I'm not sure where this can/should go but think we need to put it along the bottom somewhere... just use your own discretion - don't make it too big, but whatever is normal!

Disclaimer: The STEAM Activities section may contain links to Web sites created and maintained by other public and/or private organizations. We provide links to these sites as a service to our users. The presence of a l

[2017-03-28 01:47] timmhayes commented on #21
Added to the bottom in small text

[2017-03-28 01:47] #21 closed, assigned to nobody

[2017-03-28 01:47] timmhayes commented on #20
Added

[2017-03-28 01:47] #20 closed, assigned to nobody

[2017-03-28 01:48] timmhayes commented on #19
Added

[2017-03-28 01:48] #19 closed, assigned to nobody

[2017-03-28 01:48] timmhayes commented on #18
Added

[2017-03-28 01:48] #18 closed, assigned to nobody

[2017-03-28 01:48] timmhayes commented on #17
Added

[2017-03-28 01:48] #17 closed, assigned to nobody

[2017-03-28 03:20] Mission5melissa opened #22 "need a period"
in the jake and scout story on the green screen with Scout... last stench...."i named him scout and took him in as my own....Need a period please.

[2017-03-29 01:50] timmhayes commented on #22
Added

[2017-03-29 01:50] #22 closed, assigned to nobody

[2017-03-30 19:41] tmancus opened #23 "Timeline runs into Football graphic"
When expanded, the timeline runs into the football player's elbow.

[2017-03-30 19:48] tmancus opened #24 "Childhood head"
The Childhood Leland head needs to be swapped out, but you'll need the new one from Michelle first.

[2017-04-04 01:34] tmancus opened #25 "Accordion"
Can this be triggered by clicking rather than roll over?

[2017-04-04 01:37] tmancus opened #26 "Jake and Scout - Bear Page (slide 5)"
protect me - like a grizzly
should be:
protect me—like a grizzly
(em dash)

[2017-04-04 01:38] tmancus opened #27 "Scout page - (Slide 6)"
Last sentence needs a period after "own":
I named him Scout and took him in as my own.

[2017-04-04 01:40] tmancus opened #28 "Jake and Scout page (slide 7)"
another em dash:
mild-mannered dog - a nice contrast to Jake’s
should be
mild-mannered dog—a nice contrast to Jake’s

[2017-04-04 02:03] Mission5melissa commented on #25
I like the rollover - since the icons are clicks - leave for now please as it works and we can focus test later.

[2017-04-04 02:07] tmancus commented on #25
I was just asking the question - not that it needs to change. Just ran into trouble with it when trying to show it to others and the expectation that it would close on roll-off and because when you close it and move at all it reopens.

[2017-04-04 02:10] Mission5melissa commented on #25
cool - if you ask the question in the issues area though Tim may just change it...and see it as something to fix...hmmmm let's ask him about that - if "issues" are seen as "fixes"
On Apr 3, 2017, at 10:07 PM, tmancus <notifications@github.com> wrote:

[2017-04-04 02:11] Mission5melissa opened #29 "issues versus questions"
hey tim - do you want us to pose questions in the issues area or just put stuff in here that needs to be fixed?  Just wondering so we don't confuse you.

Is there a better place for stuff we want to ask about or discuss as possibilities?
 thanks!

[2017-04-04 02:27] timmhayes commented on #25
I wouldn't make that change without asking questions. 😄  It can be changed fairly easily if needed.

[2017-04-04 02:28] timmhayes commented on #26
Changed

[2017-04-04 02:28] #26 closed, assigned to timmhayes

[2017-04-04 02:32] timmhayes commented on #27
This was already fixed in #22. I am just waiting on content before I push out a bunch of changes.

[2017-04-04 02:32] #27 closed, assigned to nobody

[2017-04-04 02:32] timmhayes commented on #28
Updated

[2017-04-04 02:32] #28 closed, assigned to timmhayes

[2017-04-04 02:33] tmancus commented on #22
oh, cool...sorry to double up there...

[2017-04-04 02:40] timmhayes commented on #29
If they are questions about the site, then this is a great place to have a conversation - just make sure to clarify that you are asking for information rather than asking for a change. You should also assign the issue to the people you want to contribute. And please mark the issue as closed when the conversation is complete. I will mark the issues _I_ close as complete, but these kinds of issues a

[2017-04-04 02:44] timmhayes commented on #22
No worries, thanks for the catch. I really need to update the site, but I know Leland is showing off the demo site and I have too many loose ends to do a full push.

[2017-04-04 03:53] Mission5melissa commented on #29
Thanks Tim. That's what we needed to know.

Melissa

[2017-04-05 02:05] timmhayes commented on #29
Feel free to follow my advice then and close the issue :-)

[2017-04-05 14:13] timmhayes opened #30 "Webserver configuration"
I understand Leland will be hosting this on his webserver, but I don't know anything about its configuration. The site I'm building is configured to run at the root level of a domain and looks for graphics in the /static directory. However Leland said this might be put into a subdirectory. If this is the case, it will cause some build issues that will need to be resolved. Can anyone check on that

[2017-04-05 14:25] Mission5melissa commented on #30
Tim - I'm happy to try and help on this. Do you want me to put you in touch with the web hosting company - is that the best way? Stan may have more expertise in terms of the domain. I have talked to the company about possible upgrades in terms of the server capacity, etc. so if it's a matter of upgrading we can do that - how things are configured I am not really sure about but happy to investigate

[2017-04-05 14:27] #29 closed, assigned to nobody

[2017-04-05 14:27] Mission5melissa commented on #29
haha

[2017-04-05 14:30] StanWebb commented on #30
I think it would be best to  put it on the root of its own subdomain
such as steamography.lelandmelvin.com. Stan

On Wed, 05 Apr 2017 07:13:25 -0700, Tim Hayes  wrote:

       Assigned #30 to @StanWebb.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

   *

[2017-04-05 14:38] timmhayes commented on #30
If Stan is the admin to the current site, then I'd ask him first. It is quite likely something he can add easily in the hosting company's control panel. I'd suggest he take a copy of this site and try it early on so we don't have any last minute surprises.

Stan can "build" the site by following the instructions in the repo readme, then running `npm run build` in the command line. This will minify

[2017-04-05 19:46] timmhayes opened #31 "Google Analytics"
Does Leland have an existing Google Analytics account? If not, he needs one. Or I can use mine... but the site should have GA enabled from day 1.

[2017-04-06 02:55] timmhayes commented on #30
@StanWebb - it looks like we were writing at the same time, but using a subdomain would make it easier. I'll close this issue and we can plan for that.

It would still be a good idea to try out the demo site on steamography.lelandmelvin.com sooner rather than later. I'd be happy to walk you through the build process (as I said above) or I can just do it for you and zip it up. Thanks, Tim

[2017-04-06 02:55] #30 closed, assigned to Mission5melissa, StanWebb

[2017-04-06 12:19] StanWebb commented on #31
We can set-up a GA account with Leland. If you can set-up the site and
zip it that would be great. I am not that great with GitHub yet. I will
get with Leland about the sub domain and get the ball rolling there.
Stan

On Wed, 05 Apr 2017 19:56:03 -0700, Tim Hayes  wrote:

       Assigned #31 to @StanWebb.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2017-04-07 01:48] timmhayes commented on #31
OK Stan. I just e-mailed a zip with the site files in it. Please let me know if that works for you.

[2017-04-07 01:54] timmhayes opened #32 "Site animation on iPhone"
@tmancus, @Mission5melissa: I can't replicate the issue Tony showed me with the animation on my iPad and unfortunately, I don't have an iPhone to test with. Can you refresh the page and make sure the animation is still janky on both of your devices?

[2017-04-07 02:08] tmancus commented on #32
yep - still only seeing the blurry earth - like it's zoomed in way too far on the background.

[2017-04-07 02:10] timmhayes commented on #32
Thanks for testing. I'm going to need to find a way to troubleshoot this. Which iPhone do you have? And are you using Safari or Chrome?

Melissa - is it the same for you?

[2017-04-07 02:16] tmancus commented on #32
It's in Safari - will check in chrome. And the phone is a 6S, I think.

[2017-04-07 02:17] tmancus commented on #32
same thing in Chrome.

[2017-04-07 02:47] Mission5melissa commented on #32
I see the same on my iphone 6 for the animated header
On Apr 6, 2017, at 10:08 PM, tmancus <notifications@github.com> wrote:

[2017-04-07 02:59] Mission5melissa commented on #32
Yes, still wanky - as if zoomed in to the top left of the animation so I see the upper part of the earth -

iphone 6
On Apr 6, 2017, at 9:54 PM, Tim Hayes <notifications@github.com> wrote:

[2017-04-07 22:39] timmhayes commented on #32
What do you all see when you visit this page directly?
http://steamography.mybluemix.net/static/media/animation/

[2017-04-07 22:42] Mission5melissa commented on #32
Just the animation header. Blank white page underneath on phone

Melissa

[2017-04-07 22:43] Mission5melissa commented on #32
On desktop it is just the animation and takes up full screen.

So to clarify. On phone the header is only first third of page. On desktop it covers the whole page.

Hope this helps

Melissa

[2017-04-07 22:45] timmhayes commented on #32
That link takes you straight to the animation, so it will only show the animation. But do you see it zoomed in on the iPhone like you do when it is embedded in the main page?

[2017-04-07 22:46] Mission5melissa commented on #32
No, not zoomed in like it has been.

It looks the same as the desktop -- it all comes up like it should and fits in the screen.

On Apr 7, 2017, at 6:45 PM, Tim Hayes <notifications@github.com> wrote:

[2017-04-07 23:02] tmancus commented on #32
Same here - it's rendering how it should on my phone

[2017-04-10 19:23] timmhayes commented on #32
Can you all test again? I just made some changes and tried them it out on a borrowed iPhone. I think it is better, but still having that error from time to time.

[2017-04-10 19:54] Mission5melissa commented on #32
Came up ok on mine with new start

Melissa

[2017-04-10 19:54] Mission5melissa commented on #32
The rest of content is there. Clicked through Arthur ashe and picture this

Melissa

[2017-04-10 20:45] tmancus commented on #32
I'm still seeing it zoomed in...

[2017-04-11 02:09] tmancus commented on #32
Just reloaded it and it looks right now!

[2017-04-11 02:10] tmancus commented on #32
Just reloaded it and it looks right now!

[2017-04-11 12:42] timmhayes commented on #32
So it works, no more problems? If so, I'll close the issue?

[2017-04-11 12:50] timmhayes commented on #25
Would you all like me to enable this and let you try it out?

[2017-04-11 13:10] timmhayes commented on #23
I fixed this and and the issue with overlap of story icons on mobile devices

[2017-04-11 13:10] #23 closed, assigned to timmhayes

[2017-04-11 14:31] Mission5melissa commented on #32
just pulled it up on the phone and I am back to the zoomed in corner of the earth....

[2017-04-11 14:34] Mission5melissa commented on #31
Leland said in an email that he does have GA - so he may have an account already.  Maybe a short call to talk about the tech side would be a good idea.  Are either of you available Wednesday afternoon/evening?

[2017-04-11 14:38] tmancus commented on #32
Seems like it depends which one I load - if it's the one with /# at the end it's still zoomed in. If it's just steamography.mybluemix.net, then it's fine.

[2017-04-11 14:39] StanWebb commented on #31
I will be around. Stan

On Tue, 11 Apr 2017 07:34:59 -0700, Mission5melissa  wrote:

       Leland said in an email that he does have GA - so he may have an
account already. Maybe a short call to talk about the tech side would
be a good idea. Are either of you available Wednesday afternoon/evening?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2017-04-11 14:42] Mission5melissa commented on #32
almost the same here - the link in your email Tony worked fine, but when i typed in the URL (without the #) I still got zoomed in.  And get zoomed in with the #.
On Apr 11, 2017, at 10:38 AM, tmancus <notifications@github.com> wrote:

[2017-04-12 02:33] timmhayes commented on #31
I should be available after 7 pm or so.  Did Leland provide you with a GA tracking ID?

[2017-04-12 02:57] Mission5melissa opened #33 "Add text and link to video about book in final section"
Can you please create a space for this link to promote the book in the final section where we currently have the book cover and link out to purchase?  Put it to the left of the book image.

Host the video in the same place as the GBS videos.

Text should read (in a compatible font as the other stuff - maybe Michelle can recommend):
Want to know more about Leland's book? Check out this video!

(Ton

[2017-04-12 02:59] Mission5melissa commented on #31
Possible GA number for my lelandmelvin@gmail.com account UA44101510-1

[2017-04-12 12:09] StanWebb commented on #31
He will be back in town sometime today. I left a message for him to
call me. Stan

On Tue, 11 Apr 2017 19:33:31 -0700, Tim Hayes  wrote:

       I should be available after 7 pm or so. Did Leland provide you
with a GA tracking ID?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

   *

[2017-04-13 02:56] tmancus commented on #33
I think we were talking about taking the book out of the footer and giving it more prominence and making a smaller footer with just the essential contact info stuff on it? Also, does it make sense to promo the adult version of the book this way since this is targeting kids?

For text, I think, maybe something like: "Check out this video to see a bit more of Leland's story!" or "Check out this vide

[2017-04-13 02:56] tmancus commented on #25
If it's not a huge hassle, I'd like to see what difference it makes...

[2017-04-13 03:01] Mission5melissa commented on #33
I think the video is ok. Talks about a lot of the moments like his coach giving him a second chance and teachers and parents may also be on the site.

Are we making those moves before May?  The link can go wherever the book promo goes if we go ahead and put them together.

Melissa

[2017-04-13 03:07] tmancus commented on #33
Totally - just raised the question because the image at the end is the adult version. If we could, at some point, feel like it would be really cool to get something that's steered a bit more towards kids - maybe actual animation/whiteboard sketch-style? Ha! Definitely Phase 2-10

[2017-04-13 03:50] Mission5melissa commented on #33
Oh yeah. And we have the children's book cover. Just need to replace.  I'll see if I can find the image and create an issue

Melissa

[2017-04-13 11:30] timmhayes commented on #33
I'm not perfectly clear on what I'm supposed be be doing here, but the first step seems to be having Leland upload the file as an unlisted video to his YouTube channel. Then I'll need the link.

[2017-04-13 11:35] timmhayes commented on #24
I got the new one, but she cropped it to different dimensions. It should match the other ones at 365 px high.

[2017-04-13 13:02] timmhayes opened #34 "Stories / Flexbox issues with IE and Edge"
Need to fix issues with rendering flexboxes in IE 11 and Edge within stories

[2017-04-13 13:48] timmhayes commented on #25
I removed the mouseover activation of the accordion. If this works better for everyone let me know and I'll close this issue.

[2017-04-13 14:03] tmancus commented on #25
I definitely like that better - see what others say, though.

[2017-04-14 02:44] Mission5melissa opened #35 "Delete text"
In panel two of "need for speed" please delete the first word and colon of the sentence:

Text: I grew up in a small town.....

"Text:" is not part of the sentence.

[2017-04-14 02:55] Mission5melissa opened #36 "Add a panel"
Add a panel to the end of the "Need for Speed" story:

Text: What would you build? Anything is possible!

Image: Skateboard image with "Leland" sticker on the board  (michelle knows where this is)

Panel backgrund color: White

Font: consistent with story panels.

[2017-04-14 03:12] Mission5melissa opened #37 "Change panel background color"
Change the panel background color of panel 8 in need for speed.

Currently it is white - please change to another color -
suggest maybe a light teal close to: R188/G225/B223
or teal close to: R131/G170/B184

if we add a new last panel.

[2017-04-14 03:25] Mission5melissa commented on #24
Is Michelle aware of the crop differentiation equation dimensionality frustration?

maybe we need to tell her :)

[2017-04-14 03:28] Mission5melissa commented on #31
Possible GA number for lelandmelvin@gmail.com account UA44101510-1

[2017-04-16 13:33] timmhayes commented on #35
Fixed

[2017-04-16 13:33] #35 closed, assigned to nobody

[2017-04-18 16:26] Mission5melissa opened #38 "Switch out "manning arm" icon on main Astronaut panel"
Please replace the colored "joystick" icon on the astronaut panel for the new grey one - we have the correct one on the first panel of the actual story "manning the arm"

[2017-04-18 16:29] Mission5melissa opened #39 "replace ear icon on Scientist main panel & story panel"
Please switch out the white ear for the african american ear in the main panel and first slide of the story panel for "I can't hear"

[2017-04-20 00:13] timmhayes commented on #37
Added color and last panel as requested by @Mission5michelle

[2017-04-20 00:13] #37 closed, assigned to timmhayes, tmancus, Mission5michelle

[2017-04-20 00:21] timmhayes commented on #34
I just completed a major update to fix IE 11 rendering issues with flex items and min-height. See https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview

[2017-04-20 00:21] #34 closed, assigned to nobody

[2017-04-20 00:24] timmhayes commented on #25
Since nobody has commented, I'm going to close this issue and leave it as-is. If anyone has an issue with removing the mouseover, we can always revert it. Just reopen the issue and let me know.

[2017-04-20 00:24] #25 closed, assigned to timmhayes, Mission5melissa, tmancus, Mission5michelle

[2017-04-20 00:26] timmhayes commented on #24
I told her by assigning her to the issue. :-)

[2017-04-20 00:26] #24 closed, assigned to timmhayes, Mission5michelle

[2017-04-20 01:12] timmhayes commented on #38
Complete

[2017-04-20 01:12] #38 closed, assigned to Mission5michelle

[2017-04-20 01:19] timmhayes commented on #36
Added

[2017-04-20 01:19] #36 closed, assigned to nobody

[2017-04-20 02:17] tmancus commented on #39
image is here: https://www.dropbox.com/home/STEAM/PNGs%20from%20Stan?preview=Science-Ear2.png

[2017-04-20 02:21] tmancus opened #40 "Change STEAM Activities header"
If everyone's OK with this, can we change the header to STEAM Power - something that's more engaging and catch-all-y? and remove the graphics that are there.
Tag line beneath header option:
Activities and resources to help you harness all the STEAM Power you can!

[2017-04-20 02:28] Mission5melissa commented on #40
Think that is fine....
On Apr 19, 2017, at 10:21 PM, tmancus <notifications@github.com> wrote:

[2017-04-20 02:50] tmancus opened #41 "Usability Q"
In navigation on the X in accordion - can the area be expanded a bit to the left so there's a little bit of room for clicking just outside the X so it closes and doesn't launch the activity?

Also, how hard is it to make it close on click/touch on the panel with the graphic in it? Just asking because I caught myself trying to close it that way tonight.

[2017-04-21 02:43] timmhayes commented on #39
Swapped

[2017-04-21 02:43] #39 closed, assigned to Mission5michelle

[2017-04-23 20:18] Mission5melissa opened #42 "Please add videos to Life in Space story"
videos for the Life in Space story for story panels in the appropriate place!

FootballInSpace
https://youtu.be/MFTsTnxkXq0

BikeInSpace
https://youtu.be/rRM7kFRT2Tw

EatingInSpace
https://youtu.be/h8FJoFgALsQ

LaunchingToSpace
https://youtu.be/VesapqgDJzs

SleepingInSpace
https://youtu.be/2Zgz42bC83U

[2017-04-27 02:56] timmhayes commented on #42
This has been added and I will push a new version of the site shortly, just know the Life in Space story is not yet complete

[2017-04-27 02:56] #42 closed, assigned to timmhayes, Mission5michelle

[2017-04-27 04:09] Mission5melissa commented on #42
Yeah!  It looks so good and the videos work great!

Melissa

[2017-04-27 20:46] Mission5melissa opened #43 "text edit"
in the Life in Space story on the question panel for sleeping please correct "what" to "where" to have "Where do you sleep?"

Thanks!

[2017-04-28 01:25] timmhayes commented on #43
Updated

[2017-04-28 01:25] #43 closed, assigned to nobody

[2017-04-28 01:49] timmhayes commented on #40
Updated

[2017-04-28 01:49] #40 closed, assigned to timmhayes, Mission5melissa, Mission5michelle

[2017-04-28 01:52] timmhayes commented on #31
I haven't added this yet, but I wanted to confirm... will this be running from the lelandmelvin.com domain?

[2017-04-28 01:57] Mission5melissa commented on #31
you mean the site overall? - as far as I know - yes - but Stan should confirm - I think it's a subdomain actually...Sorry I am not much help

[2017-05-04 01:00] Mission5melissa opened #44 "image for life in Space"
Please replace the image on the final screen of Life in Space with the attached image and move the text up a little bit to be more in the sky area - top of the mountain in stead of centered.
![dscf0008_lis_finalscreen](https://cloud.githubusercontent.com/assets/25847565/25687329/71aff6d6-3043-11e7-8489-84d242e91462.jpg)

[2017-05-04 02:28] Mission5melissa opened #45 "About text"
Attached is a doc with the text for the About section.  Where I have used the blue graphic bars please create/use a bar to section the text.  We will have images/colors at some point to add, but if you can go ahead and get the text in so we can see how it reads that would be great.
[STEAMography_About(4)_text version for Tim.docx](https://github.com/Mission5/steamography/files/975111/STEAMography_

[2017-05-04 04:05] Mission5melissa opened #46 "Add short bio text and graphics"
Please use the doc to create the short bio overlay

https://www.dropbox.com/s/rv3ir42tp7dhm8k/shortbio_LM_%284%29.docx?dl=0

[2017-05-04 04:08] Mission5melissa commented on #46
this is the READ MY STORY section that comes immediately below the animation.  For one of the images (medical training) please use the cropped version of the picture that Michelle had for the Life in Space story (sorry I could not find it anywhere in dropbox)

[2017-05-04 04:10] Mission5melissa opened #47 "crop image"
in the Life in Space panel with the image of drawing bold in space we need to crop out or blur out the face of the astronaut whose blood is being drawn.

[2017-05-05 00:56] timmhayes commented on #41
I updated the z-index, which should fix your issue. I'll push out another build later tonight if you want to test it.

[2017-05-05 00:56] #41 closed, assigned to timmhayes, Mission5melissa, Mission5michelle

[2017-05-05 01:07] timmhayes commented on #44
I swapped the image, but the template it uses vertically aligns the text in the center - so I left that as-is. If that is a deal-breaker, then I can spend the time to make a new template. But I'm guessing you would rather have me work on the other sections instead.

[2017-05-05 01:07] #44 closed, assigned to nobody

[2017-05-05 01:08] timmhayes commented on #47
Cropped

[2017-05-05 01:08] #47 closed, assigned to nobody

[2017-05-05 01:33] timmhayes commented on #45
Roughed out - needs more love

[2017-05-05 01:33] #45 closed, assigned to nobody

[2017-05-05 01:55] Mission5melissa commented on #45
thanks!  I'll check with Michelle about creating some nice line breaks - but a "rough" should do for starters!

[2017-05-05 02:59] Mission5melissa opened #48 "Edits on About"
please change "STEAM-oriented" to "S.T.E.A.M.-oriented"

Please add "STEAMography" [in bold letters"] to precede "The power of S.T.E.A.M. driven by the power of STORY."

STEAMography The power of S.T.E.A.M. driven by the power of STORY.

[2017-05-06 20:10] timmhayes commented on #32
I just  recreated the whole thing without any external script dependencies. I'd like to optimize it a bit more, but can you take a look to see if it works on your iPhone?

[2017-05-06 20:23] Mission5melissa commented on #32
it works. The salute is there - just need to finesse the placement of the words/tag lines (are they coming form Stan as a graphic or are we making them as CSS to animate/fade in?)

They just need to move up and to the left so LM in red is centered on the planet and the 3 tags in white go over the rocket

[2017-05-06 20:51] timmhayes commented on #32
The words are all in text now, so I can format them however we need.

I just moved the text over, but it looks too far to the left to me But take a look after the site gets recompiled.

[2017-05-06 21:19] Mission5melissa commented on #32
on my desktop there is a weird jiggle at the beginning of the zoom.

The words do look a little too far left - think you are correct that - so a bit to the right and a little higher maybe?

[2017-05-06 21:22] Mission5melissa commented on #32
looks far left on the phone as well - so right and up just a smudge to kind of fill the gap between the earth and the salute.

the hesitation at the start of the zoom is also on the phone

[2017-05-07 01:13] timmhayes commented on #32
I just added some animation preload optimizations and moved the title around. Bluemix is building now. Vision on Wheels as also been added.

[2017-05-07 01:59] timmhayes commented on #48
Changed

[2017-05-07 02:00] #48 closed, assigned to nobody

[2017-05-07 02:02] Mission5melissa opened #49 "Vision on wheels edit"
on panel one please add the word "day" to read One summer day....

[2017-05-07 02:08] timmhayes commented on #49
Added

[2017-05-07 02:09] Mission5melissa opened #50 "vision on wheels edit"
on panel 5 - please change the word "BONKERS" to CRAZY

[2017-05-07 02:25] Mission5melissa commented on #32
Just clicked through it - looks fantastic!!!

On May 6, 2017, at 9:13 PM, Tim Hayes <notifications@github.com> wrote:

[2017-05-07 02:51] Mission5melissa opened #51 "Dropped pass text edit"
please change  "When I delivered the play call my teammates had their doubts...."  to

"When I delivered the play to the quarterback my teammates had their doubts...."

[2017-05-07 02:52] Mission5melissa opened #52 "Dropped Pass text edit"
Please change "Later, he'd offer me a scholarship to the university of Richmond to play football."

to

"Later, he offered me a scholarship to play football at the University of Richmond."

[2017-05-07 03:23] Mission5melissa opened #53 "Sidelined text edit"
on panel nine please delete the words "tearing and" to create:

"My hamstring failed again that day, sending me to the grass in pain."

on the same panel please change "Cowboy's" to "Cowboys"

[2017-05-07 14:21] timmhayes commented on #32
Great, then I'm closing it.

[2017-05-07 14:21] #32 closed, assigned to Mission5melissa, tmancus

[2017-05-07 14:22] #49 closed, assigned to nobody

[2017-05-07 17:13] Mission5michelle commented on #52
Hey there! Remember if Tim hasn't programmed the story yet the best way is to give me the text changes and I can put it in the document he will use to cut and paste into the site.

[2017-05-09 02:39] timmhayes commented on #53
Updated

[2017-05-09 02:39] #53 closed, assigned to nobody

[2017-05-09 14:36] Mission5melissa opened #54 "Manning the arm text edits"
Please correct:

Panel four - space between "movevery" to create " move very"

Panel 7 changed dexerity to "dexterity"

[2017-05-10 01:38] timmhayes commented on #54
Corrected

[2017-05-10 01:38] #54 closed, assigned to nobody

[2017-05-10 01:39] timmhayes commented on #50
Updated

[2017-05-10 01:39] #50 closed, assigned to nobody

[2017-05-10 01:57] Mission5melissa commented on #50
boom! you rock :)
On May 9, 2017, at 9:39 PM, Tim Hayes <notifications@github.com> wrote:

[2017-05-10 02:45] timmhayes commented on #50
Two more stories incoming...

[2017-05-10 03:43] Mission5melissa commented on #50
wooohoooo!!! it looks great!
On May 9, 2017, at 10:45 PM, Tim Hayes <notifications@github.com> wrote:

[2017-05-16 01:40] Mission5melissa opened #55 "autoloading in story panel"
when I open the site and scroll down to the "life panels" section to choose an area it automatically loads the first story in the section - without me choosing it or showing the other choices first.

[2017-05-16 02:00] timmhayes commented on #55
I've never seen any behavior like that. Can you tell me what browser you are using and provide the exact steps I should take to try to reproduce it?

[2017-05-16 02:10] Mission5melissa commented on #55
Safari on a Mac - version 9.1.3 (9537.86.7.8)  It's not the first time it's happened.  It's usually when i first open the site and scroll down - if I choose a life 'section" i.e. football - the first story autoloads "the drop icon title panel comes up - i have to close that to see the other choices.

[2017-05-16 02:11] Mission5melissa commented on #55
i would say i noticed it at least a week ago - maybe two - and leland experienced it as well. he has a newer mac than mine and I'll ask about his browser

[2017-05-16 02:41] Mission5melissa opened #56 "Text edit The drop panel 7"
please replace the current text with edited text:

Our fans were screaming their heads off.  Everything felt perfect.  After years of practice it was second nature.  But right before I secured the catch, I lost focus.  I looked at my hands. The ball slipped right through.

[2017-05-16 02:42] Mission5melissa opened #57 "Text edit The Drop panel 9"
please delete the word 'some" to read :

There was still time on the clock

[2017-05-16 02:56] timmhayes commented on #56
Updated

[2017-05-16 02:56] #56 closed, assigned to nobody

[2017-05-16 02:56] Mission5melissa opened #58 "text edit Life in Space panel 20"
please replace the first sentence to read:

Living in space presents a lot of challenges and can be difficult.

[2017-05-16 02:57] timmhayes commented on #57
Updated

[2017-05-16 02:57] #57 closed, assigned to nobody

[2017-05-16 02:59] timmhayes commented on #58
Updated

[2017-05-16 02:59] #58 closed, assigned to nobody

[2017-05-16 03:12] Mission5melissa opened #59 "text edit Manning the Arm."
Please replace the text to read:

My experience has been used for Robotic Arm training at NASA.  Other astronauts ask me about my technique and I tell them what my dad always told me  - "practice makes perfect."

The years I spent practicing in the simulator while I was grounded developed the intuitive knowledge I needed to make a good decision under pressure.

[2017-05-16 03:21] Mission5melissa opened #60 "Drafted video change"
The videos for panel 2 and 4 of Drafted are switched....

playing football at UR should be on panel 2 - (currently on 4)

and Football Memories should be on 4 (currently 2)

[2017-05-16 22:17] timmhayes commented on #55
I'll bet I know the answer... are you double-clicking the panel open?

[2017-05-16 22:20] timmhayes commented on #60
Switched

[2017-05-16 22:20] #60 closed, assigned to nobody

[2017-05-16 22:24] timmhayes commented on #59
Which slide do you want me to replace? It doesn't match any of the text currently in the story. Last slide? Second to last?

[2017-05-16 22:30] Mission5melissa commented on #59
If it's about training. The slide where it says NASA used video of him to train.

Melissa

[2017-05-16 22:30] Mission5melissa commented on #59
Sorry. Driving right now

Melissa

[2017-05-17 02:20] Mission5melissa commented on #59
Panel 13 - keep the image just change out the text. old text is:

afterwards NASA used footage of me to train ......

[2017-05-17 02:22] Mission5melissa commented on #55
it just happened agin - i did not double click - I came back to my computer after several hours, opened stenography already in the browser - the scientist story panel was open i clicked on the edge of the blue to open the astronaut panel and "Picture This" story loaded immediately without me choosing it.  So it wasn't a fresh/new load of the site, and it was the first thing I tried to do

[2017-05-17 15:48] Mission5melissa opened #61 "Link for intro video panel"
Link from Stan for when you need the video - I"ll also forward you the email :)

https://youtu.be/1VxB4hWzTA0

[2017-05-18 02:32] timmhayes commented on #59
Updated

[2017-05-18 02:32] #59 closed, assigned to nobody

[2017-05-18 02:35] timmhayes commented on #55
Do you have the same issue in Chrome? Or is this only on Safari? I still can't repo on either on Michelle's MacBook Pro.

[2017-05-18 02:38] Mission5melissa commented on #55
Have not tried in Chrome at all, but will open the site there and test randomly to see
On May 17, 2017, at 10:35 PM, Tim Hayes <notifications@github.com> wrote:

[2017-05-18 02:39] timmhayes commented on #52
It looks like @Mission5michelle updated the text I added, so I'm going to close this on her behalf.

[2017-05-18 02:39] #52 closed, assigned to Mission5michelle

[2017-05-18 02:41] timmhayes commented on #51
I had to change this one in code; @Mission5michelle didn't make the change before providing the text. Updated.

[2017-05-18 02:41] #51 closed, assigned to Mission5michelle

[2017-05-18 02:48] timmhayes commented on #31
This should be updated on commit f3cd6a242804ed990b380693e27aade674612bd7, but @StanWebb will need to add a new build to Leland's site to make sure everything works. It works great from BlueMix on my account.

[2017-05-18 02:48] #31 closed, assigned to Mission5melissa, StanWebb

[2017-05-18 12:25] StanWebb commented on #31
Can you give me the complete site like last time and I will load
everything up to test. Stan

On Wed, 17 May 2017 19:48:19 -0700, Tim Hayes  wrote:

       This should be updated on commit f3cd6a2, but @StanWebb will
need to add a new build to Leland's site to make sure everything works.
It works great from BlueMix on my account.
—
You are receiving this because you were mentioned.
Reply to this e

[2017-05-18 22:45] timmhayes commented on #31
I just re-built the site and added a zip file to the shared folder on Google Drive for you.

[2017-05-19 15:23] Mission5melissa commented on #31
Thanks Tim - so we have a build to upload and test?!  Yeah! That is great!

Stan - if you can get it up today and send out the link we have several folks ready to begin testing to make sure we are all good.

We will start feeding comments into Github for fixes tonight and tomorrow - (unless there is a better way)  so we can address errors and have a final push on Sunday.  If we can, I'd like to ha

[2017-05-19 16:16] Mission5melissa opened #62 "I can't hear story on LM.com"
The story ends in the middle - the close out button comes up on the 10 foot deep panel.

[2017-05-19 21:08] timmhayes commented on #62
I sent Stan what I had yesterday at 6, which didn't include the rest of that module. It was only meant for testing google analytics and site integration. This will work next time he updates.

[2017-05-19 21:08] #62 closed, assigned to nobody

[2017-05-19 21:25] Mission5melissa commented on #62
Thanks!

Melissa

[2017-05-21 03:21] tmancus opened #63 "size of book with video - might be too big"
Just opened it on my phone and there's a bunch of wiggle that's happening...the images is pushing the text into the gutters. Will email photo evidence.

[2017-05-21 03:25] tmancus opened #64 "text edits to Disclaimer - bolded"
The STEAM **Power** section may contain links to **websites** created and maintained by other public and/or private organizations. We provide links to these sites as a service to our users. The presence of a link is not an endorsement **by** STEAMography or Leland Melvin. When users follow a link to an outside **website**, they are leaving STEAMography and are subject to the privacy and security p

[2017-05-21 03:27] tmancus opened #65 "text change?"
READ MORE ABOUT MY JOURNEY **IN CHASING SPACE!**

Does it make sense to remove "my book" and to add an exclamation point?

[2017-05-21 03:30] tmancus opened #66 "scrolling behind modal window on iPhone 6s"
Noticed that scrolling happens behind the window when navigating on text-dense pages - when closing life moments I'm wind up way down the page.

[2017-05-21 04:03] timmhayes commented on #63
I just changed the styles and pushed a new version - should be ready in a few.

[2017-05-21 04:29] tmancus commented on #63
fixed!

[2017-05-21 04:29] #63 closed, assigned to timmhayes, Mission5michelle

[2017-05-21 15:20] timmhayes commented on #61
Added in 72b613d

[2017-05-21 15:20] #61 closed, assigned to nobody

[2017-05-21 15:21] timmhayes commented on #55
This should be fixed with the change above. Please let me know if that helps.

[2017-05-21 15:21] #55 closed, assigned to nobody

[2017-05-21 15:23] timmhayes commented on #46
I just completed this section with Michelle's new content. Is this issue no longer relevant?

[2017-05-21 15:24] timmhayes commented on #33
The footer is complete - closing this issue with commit 61e0502

[2017-05-21 15:24] #33 closed, assigned to timmhayes, tmancus, Mission5michelle

[2017-05-21 22:17] timmhayes commented on #66
I can replicate that on Android.  Are you saying when you are scrolling in the story it ALSO causes the main page to scroll? Thanks

[2017-05-21 22:29] tmancus commented on #66
I think it's when I get to the end of the content, it causes the page to scroll if I have unintentionally scrolled to the end. Will have to play around with it - maybe can shot you tomorrow?

Sent from my iPhone

[2017-05-28 16:15] timmhayes commented on #66
You may have to show me, since I've already added code that should prevent this and I can't repo on Android or my laptop. With that said, I did make a few changes which might help. Can you look at the bluemix site to see if it still does that? Thanks!

[2017-05-28 16:16] timmhayes commented on #46
Closing this... please reopen it if it is still a problem.

[2017-05-28 16:16] #46 closed, assigned to nobody

[2017-05-28 16:25] timmhayes opened #67 "Deployment to lelandmelvin.com"
Stan - I've been running the Steamography.mybluemix.net site through Google's Page Speed tools to find optimizations and noticed some minor improvements that could be made on the lelandmelvin.com site. Take a look here: https://developers.google.com/speed/pagespeed/insights/

You can bump your speedtest score up 20 points by enabling gzip or deflate compression on your server.  It is likely your w

[2017-05-28 17:00] tmancus commented on #66
Still happening - if I scroll hard on the second screen of life's in space the scrolling continues in the background when it stops in the modal window. Can show you on Tuesday.

[2017-05-28 20:44] Mission5melissa opened #68 "Closeout for About steamography overlay"
Can we add some easy way to close out the overlay with the About yet?  Right now you have to either go back to the Leland Melvin text at the top or if you are lucky and click on the steamography word....but no easy way to close it and get back to the main page

[2017-05-28 20:46] Mission5melissa opened #69 "uneven graphic box in footer"
on my screen the darker grey "box" for the footer text is shorter on the right side than on the left (photo attached)  The left side is correct and covers the entire area - the right side 9steamogrpahy side) is too short so the lighter grey shows
![screen shot 2017-05-28 at 4 46 39 pm](https://cloud.githubusercontent.com/assets/25847565/26532044/24b06768-43c5-11e7-9afc-61841b28c0b0.png)

[2017-05-28 20:47] Mission5melissa opened #70 "edit text in buy my book panel"
please delete "my book" from sentence READ MORE ABOUT MY JOURNEY IN MY BOOK CHASING SPACE

to create READ MORE ABOUT MY JOURNEY IN CHASING SPACE

chasing space still in italics

[2017-05-28 20:48] Mission5melissa opened #71 "center footer"
i think the footer is not centered - right now the little rocket looks too far right?

[2017-05-29 00:19] timmhayes commented on #68
I'm waiting to get Michelle's layout for that section, but I had added a back button earlier today. Check the bluemix site... something like that but nicer looking?

[2017-05-29 00:22] Mission5melissa commented on #68
yeah - the back button will be fine -

i like the blue go buttons :)

[2017-05-29 00:22] timmhayes commented on #71
It looks just like Michelle's comp on my computer. What browser are you using? Can you send a screen cap of the issue?

[2017-05-29 00:25] timmhayes commented on #69
What browser was that on? Also was the screen capture taken when the footer was in 2 columns or just the single mobile view?

[2017-05-29 00:25] Mission5melissa commented on #71
![screen shot 2017-05-28 at 8 28 09 pm](https://cloud.githubusercontent.com/assets/25847565/26533211/b199f8e2-43e3-11e7-9514-57fefa4293cb.png)

screen shot showing uncentered footer and grey box that needs to enlarge...MAC 10.9.5 safari Version 9.1.3 (9537.86.7.8)

[2017-05-29 00:26] Mission5melissa commented on #69
2 columns - fully open on my desktop 32" monitor

[2017-05-29 00:29] Mission5melissa commented on #69
also the copyright info gets all mangled up....

[2017-05-29 00:55] timmhayes commented on #68
I'm closing this off, but I'll add more when Michelle gives it to me

[2017-05-29 00:55] #68 closed, assigned to nobody

[2017-05-29 00:57] timmhayes commented on #69
I closed off your other issue and will update the site shortly... but I can't replicate your copyright issue on Michelle's Mac laptop. Please let me know if it helps out at all.

[2017-05-29 00:57] timmhayes commented on #71
Fixed

[2017-05-29 00:57] #71 closed, assigned to nobody

[2017-05-29 01:00] timmhayes commented on #70
Updated

[2017-05-29 01:02] timmhayes commented on #70
Did you want an exclamation point as well as suggested by @tmancus in #65

[2017-05-29 01:19] Mission5melissa commented on #70
sure
On May 28, 2017, at 9:02 PM, Tim Hayes <notifications@github.com> wrote:

[2017-05-29 02:47] timmhayes commented on #70
I tried it with the exclamation point and it looked too strange with the italic text of the book title. Typography nerds would not approve... I'm leaving it out.

[2017-05-29 02:47] #70 closed, assigned to nobody

[2017-05-29 02:48] timmhayes commented on #65
I removed "my book", but the exclamation point just looked too strange next to the italic book title... leaving that part out. Thanks! TIm

[2017-05-29 02:48] #65 closed, assigned to timmhayes, Mission5melissa, Mission5michelle

[2017-05-29 03:19] Mission5melissa commented on #70
Okey doke

Melissa

[2017-06-07 02:14] timmhayes commented on #64
Sorry for the delay - it is in now.

[2017-06-07 02:14] #64 closed, assigned to timmhayes

[2017-06-07 02:14] timmhayes commented on #69
Can I close this now?

[2017-06-07 02:15] Mission5melissa commented on #69
Let me look at it I guess
On Jun 6, 2017, at 10:14 PM, Tim Hayes <notifications@github.com> wrote:

[2017-06-07 02:17] Mission5melissa commented on #69
nope - it's still not even
On Jun 6, 2017, at 10:14 PM, Tim Hayes <notifications@github.com> wrote:

[2017-06-07 02:18] timmhayes commented on #69
Are you looking on Leland's site or the live one on Bluemix?

[2017-06-07 02:18] Mission5melissa commented on #69
it's still not even, but I'm looking at steamography.com which goes here....http://lelandmelvin.com/steamography.html#/

so is it the same or do we just not have a new updated version on leland's site?
should i look elsewhere

[2017-06-07 02:19] timmhayes commented on #69
Leland's site needs to be updated. Please look at the one on Bluemix.

[2017-06-07 02:20] Mission5melissa commented on #69
i did - it's still not even....but I also see the old text from the book sell panel where we edited "my book: out...so not sure why it's not updated.  I did refresh

[2017-06-07 02:23] timmhayes commented on #69
It should look like this:
![image](https://user-images.githubusercontent.com/376895/26859578-a806dad2-4b06-11e7-8d4e-95fefc6e0b69.png)

[2017-06-07 02:23] Mission5melissa commented on #69
![screen shot 2017-06-06 at 10 26 19 pm](https://user-images.githubusercontent.com/25847565/26859572-a3a6c9d4-4b06-11e7-814f-9974fbec0034.png)

currently what I see in book panel and footer blue mix site

[2017-06-07 02:23] Mission5melissa commented on #69
see the light grey bar at the bottom

[2017-06-07 02:40] timmhayes commented on #69
I fixed that a few days ago, but the Bluemix site hasn't compiled with that change yet. I just recompiled - can you try it again?

[2017-06-07 02:44] Mission5melissa commented on #69
yeah - text change showed up and footer looks good
On Jun 6, 2017, at 10:40 PM, Tim Hayes <notifications@github.com> wrote:

[2017-06-07 02:47] timmhayes commented on #69
Great, thanks. I'll have to create a new build for Stan soon... I just want to verify that the Google Analytics is working first.

[2017-06-07 02:47] #69 closed, assigned to nobody